.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 195px;
  
  
  &__custom-match-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
  }
  
  &__warning {
    font-size: 12px;
    color: red;
  }
}

#player__active {
  color: #49c78f;
}
